<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.login.brinsally.cnaps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LOGIN" />
        <activity android:name=".MENU" />
        <activity android:name=".DESENVOLVEDORES" />
        <activity android:name=".PERFIL" />
        <activity android:name=".CONFIGURACAO" />
        <activity android:name=".CADASTRO" />
        <activity android:name=".ESPECIALIZADO" />
        <activity android:name=".BASICO" />
        <activity android:name=".ALFABETO" />
        <activity android:name=".EXEUM" />
        <activity android:name=".CERTO" />
        <activity android:name=".ERRADO"></activity>
    </application>

</manifest>